@use '../../variables.scss' as *;

.chat {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-sizing: border-box;
  padding: 10px 20px 11px;
  height: 100%;

  &__greeting {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__header {
    padding: 0 0 10px;
    box-sizing: border-box;
    border-bottom: 1px solid $light-gray-second;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
  }

  &__avatar {
    width: 34px;
    height: 34px;
  }

  &__name {
    margin-right: auto;
  }

  &__conversation {
    display: flex;
    flex-direction: column;
    height: calc(100% - 87px);
    overflow: hidden;
  }

  &__controls-btn {
    position: relative;
    background-color: transparent;
    padding-left: 37px;
    border: none;
    box-sizing: border-box;
    height: 22px;
    text-align: left;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 22px;
      height: 22px;
    }

    &:hover {
      cursor: pointer;
    }

    &_type {
      &_add-user {
        &::before {
          background-image: url('/add-user-btn.svg');
        }
      }

      &_remove-user {
        &::before {
          background-image: url('/remove-user-btn.svg');
        }
      }

      &_remove-chat {
        &::before {
          background-image: url('/remove-chat-btn.svg');
        }
      }
    }
  }
}
