@use '../../variables.scss' as *;

.error-data {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__code {
    font-size: 36px;
    line-height: 1;
    margin: 0 0 30px;
  }

  &__text {
    font-size: 20px;
    line-height: 1;
    margin: 0 0 70px;
  }

  &__back-button {
    font-size: 14px;
    line-height: 1;
    color: $primary-color;
    background-color: transparent;
    border: none;
    transition: color 0.3s linear;

    &:hover {
      cursor: pointer;
      color: $primary-color-hover;
    }
  }
}
