@import './assets/normolize.css';
@import './variables.scss';

@font-face {
  font-family: 'Inter';
  src: url('./static/fonts/Inter-VF.woff2') format('woff2'),
    url('./static/fonts/Inter-VF.ttf') format('truetype');
}

:root {
  font-family: 'Inter', Arial, sans-serif;
  font-size: 14px;
}
