.conversation {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0 10px 0 0;
  margin: auto 0 0;

  gap: 20px;
  overflow-y: auto;
  scroll-behavior: auto;
  scrollbar-width: thin;
  max-height: 100%;

  &__date {
    text-align: center;
    color: #999;
    font-size: 14px;
    box-sizing: border-box;
    padding: 40px 0 30px;
  }

  &__item {
    & p {
      font-size: 14px;
      line-height: 18px;
      margin: 0 0 12px;
      padding: 0;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &_type {
      &_inbox {
        align-self: flex-start;
        background-color: #f8f8f8;
      }

      &_outgoing {
        align-self: flex-end;
        background-color: #e4edfd;
      }
    }

    &:last-of-type {
      margin-bottom: 30px;
    }
  }
}
