@use '../../variables.scss' as *;

.error-data {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__code {
    font-size: 48px;
    line-height: 1;
    margin: 0 0 30px;
  }

  &__text {
    font-size: 24px;
    line-height: 1;
    margin: 0 0 70px;
  }

  &__link {
    text-decoration: 0;
    font-size: 18px;
    color: $primary-color;
    transition: color 0.3s linear;

    &:hover {
      color: $primary-color-hover;
    }
  }
}
